@use '../../../styles/mixins' as mixins;

#header {
  @include mixins.flex($gap: 1rem);
  padding: 1rem;
  box-shadow: 0 8px 25px rgba(37, 23, 106, 0.55);
}

nav {
  margin: auto;
}

ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  transition: var(--transition);
  font-size: 1.5rem;
}

a:hover {
  color: var(--accent-color);
}
