@use '../../styles/mixins' as mixins;

.detail-card {
  @include mixins.flex($gap: 0px);
  background-color: var(--bg-white);
  border-radius: var(--radius);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  width: fit-content;
  max-width: 800px;
  min-width: 350px;
  overflow: hidden;
  margin: auto;

  &__left-block {
    flex: none;
    height: 350px;
    width: 250px;
    .film-poster {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__right-block {
    @include mixins.flex($direction: column, $align: flex-start, $gap: 2rem);
    padding: 1.5rem;
    margin: auto;

    .title {
      color: var(--text-black);
    }

    .info {
      @include mixins.flex($gap: 1rem);

      span {
        display: flex;
        gap: 0.3rem;
        align-items: end;
        color: var(--text-grey);
      }

      .rating {
        font-weight: 700;
      }
    }

    .overview {
      @include mixins.flex($direction: column, $align: flex-start, $gap: 1rem);

      .description {
        color: var(--text-grey);
      }
    }
  }
}

@media (max-width: 750px) {
  .detail-card {
    @include mixins.flex($direction: column, $gap: 0px);
  }
}
