@let film = filmComputed();
@if (film) {
  <div class="detail-card">
    <div class="detail-card__left-block" [style.background-image]="`url(${film.posterFallback})`">
      <img
        class="film-poster"
        src="{{ film.posterUrl || film.posterFallback }}"
        alt="film-poster"
      />
    </div>
    <div class="detail-card__right-block">
      <h2 class="title">{{ film.title }}</h2>
      <div class="info">
        <span class="year"
          ><img src="icons/calendar.svg" alt="calendar-icon" width="20" height="20" />{{
            film.year
          }}</span
        >
        <span class="genre"
          ><img src="icons/tape.svg" alt="tape-icon" width="20" height="20" />{{ film.genre }}</span
        >
        <span class="clock"
          ><img src="icons/clock.svg" alt="clock-icon" width="20" height="20" />{{
            film.duration | duration
          }}</span
        >
        <span class="rating"
          ><img src="icons/star.svg" alt="star-icon" width="20" height="20" />{{
            film.rating
          }}/10</span
        >
      </div>
      <div class="overview">
        <h3 class="subtitle">Overview</h3>
        <p class="description">{{ film.description }}</p>
      </div>
    </div>
  </div>
} @else {
  <h3>Not found film</h3>
}
