@use '../../../styles/mixins' as mixins;

#footer {
  @include mixins.flex($gap: 1rem);
  padding: 1.5rem;
  background: var(--bg-dark);
  box-shadow: 0 8px 25px rgba(37, 23, 106, 0.55);

  .wrapper {
    @include mixins.flex($justify: space-between, $gap: 1rem);
    width: 700px;
    margin: auto;

    a {
      text-decoration: none;
      transition: var(--transition);
    }

    a:hover {
      color: var(--accent-color);
      transform: scale(1.1);
    }

    p {
      cursor: default;
    }
  }
}

span {
  color: var(--text-white);
  font-size: 1.5rem;
}
