<section class="card">
  <h2>
    <img src="icons/code.svg" alt="code-icon" width="30" height="30" />
    About the project
  </h2>
  <p>
    This project was created as part of learning modern
    <strong>Angular 21</strong>. There is no RxJS — only clean, modern <strong>Signals</strong>.
  </p>

  <p>It demonstrates core Angular concepts such as:</p>
  <ul>
    <li>Standalone Components</li>
    <li>Routing and lazy loading</li>
    <li>New template control flow</li>
    <li>Signals-based reactivity</li>
    <li>Pipes and directives</li>
    <li>Strict TypeScript mode</li>
    <li>No RxJS at all</li>
  </ul>
</section>

<section class="card">
  <h2>
    <img src="icons/book.svg" alt="book-icon" width="30" height="30" />
    Course
  </h2>
  <p>
    This project is based on the excellent course
    <a
      href="https://rs.school/courses/angular"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
      >Angular Course</a
    >
    by <strong>RS School</strong>.
  </p>

  <p>He makes Angular feel so simple that even dependency injection starts to look friendly.</p>
</section>

<section class="card">
  <h2>
    <img src="icons/person.svg" alt="person-icon" width="30" height="30" />
    About me
  </h2>
  <p>
    Hi! I’m <strong>Mikita</strong>, a Frontend developer who loves building interfaces and writing
    clean code. I believe that every TypeScript error is not just a bug, but a lesson on the way to
    a perfect product.
  </p>

  <p>
    I like Angular and I have a passion for clean architecture. I enjoy the challenge of a strict
    compiler and the feeling of a bug-free build.
  </p>

  <div class="links">
    <a href="https://github.com/Snitkon" target="_blank" rel="noopener noreferrer" class="link btn">
      <img src="icons/git.svg" alt="git-icon" width="20" height="20" />
      GitHub Repository</a
    >
    <a
      href="https://www.linkedin.com/in/snitkon/"
      target="_blank"
      rel="noopener noreferrer"
      class="link btn"
    >
      <img src="icons/linked.svg" alt="linked-icon" width="20" height="20" />
      LinkedIn Profile</a
    >
  </div>
</section>
