/* You can add global styles to this file, and also import other style files */

:root {
  // Backgrounds
  --bg-light: #ffffff;
  --bg-dark: #0f172b;
  --bg-grey: #474c53;

  // Text Colors
  --text-white: #ffffff;
  --text-grey: #4a5565;
  --text-black: #0a0a0a;

  // Accent
  --accent-color: #d08700;

  // Size
  --container-width: 1200px;
  --radius: 8px;
  --transition: all 0.3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
}

h1 {
  color: var(--text-white);
  cursor: default;
}

h2 {
  color: var(--text-black);
}

body {
  // TODO: Fix on Mixin
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-light);
  color: var(--text-black);
}

main {
  flex: 1;
  padding: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main::-webkit-scrollbar {
  display: none;
}

header,
footer {
  background-color: var(--bg-dark);
}

a,
span,
p {
  color: var(--text-white);
}

ul {
  list-style-position: inside;
}
