/* You can add global styles to this file, and also import other style files */

:root {
  // Backgrounds
  --bg-light: #ffffff;
  --bg-dark: #0f172b;

  // Text Colors
  --text-white: #ffffff;
  --text-gray: #4a5565;
  --text-black: #0a0a0a;

  // Accent
  --accent-color: #d08700;

  // Size
  --container-width: 1200px;
  --radius: 8px;
  --transition: all 0.3s ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--text-white);
  margin: 0;
}

body {
  background-color: var(--bg-light);
  color: var(--text-black);
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    sans-serif;
}
