@use '../../../../styles/mixins' as mixins;

.input {
  @include mixins.flex($gap: 1rem);
  width: 250px;
  padding: 0.3rem;
  border-radius: var(--radius);
  border: 1px solid var(--bg-grey);

  input {
    border: none;
    background-color: transparent;
    height: 30px;
    width: 100%;
    text-decoration: none;
    outline: none;
  }
}
